@import "tailwindcss";

@plugin "tailwindcss-animate";

:root {
  /* TODO remove these magenta colors */
  --brand-primary: oklch(0.59 0.238555 1.3126);
  --brand-hover: oklch(0.43 0.1696 359.6);
  --brand-down: oklch(0.3 0.1232 1.21);
  --brand-glow: oklch(71.22% 0.194 2.73);

  /* Overlook tablet colors */
  --primary-bg-grey: #ededed;
  --primary-im-dark-blue: #14477d;
  --primary-im-mid-blue: #1b75bc;
  --secondary-im-teal: #00a88e;
  --secondary-im-purple: #8a0d71;
  --secondary-im-orange: #f7931e;
  --secondary-im-green: #8dc13f;

  --white: #fff;
  --black: #000;
  --transparent: transparent;

  --background-primary: #fff;
  --background-secondary: #fff;
  --background-secondary-2: #fff;
  --background-tertiary: #fff;
  --background-quaternary: #fff;

  --foreground-primary: #000;
  --foreground-primary-hover: #000;
  --foreground-secondary: #000;
  --foreground-tertiary: #000;
  --foreground-quaternary: #000;
  --foreground-disabled: #000;
  --foreground-selected: #000;

  --border-primary: oklch(0 0 0);
  --border-secondary: oklch(0.52 0 0);
  --border-tertiary: oklch(0.84 0 0);
  --border-disabled: oklch(0.89 0 0);
  --border-active: oklch(0.59 0.238555 1.3126);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.45 0 0);

  --success: #42be65;
  --warning: #f1c21b;
  --error: #fa4d56;

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);

  --input: oklch(87.61% 0 0);
  --ring: oklch(0.708 0 0);
  --link: oklch(55.65% 0.243 261.95);
  --radius: 0.625rem;

  --sidebar-left-open-width: 264px;
  --sidebar-left-closed-width: 64px;
  --sidebar-right-open-width: 287px;
  --sidebar-right-closed-width: 64px;

  --leading-tight: 0.85;
  --leading-snug: 1;
  --leading-normal: 1.05;
  --leading-relaxed: 1.1;
  --leading-loose: 1.2;

  --shadow-dialog:
    -256px 140px 82px 0px rgba(0, 0, 0, 0),
    -164px 89px 75px 0px rgba(0, 0, 0, 0.02),
    -92px 50px 63px 0px rgba(0, 0, 0, 0.08),
    -41px 22px 47px 0px rgba(0, 0, 0, 0.13),
    -10px 6px 26px 0px rgba(0, 0, 0, 0.15);

  /* coffee dots */
  --espresso: oklch(48.15% 0.07 50.07); /*#7E5239*/
  --milk-foam: oklch(96.83% 0.04 89.69); /*#FFF4D7*/
  --steamed-milk: oklch(92.43% 0.05 65.19); /*#FEE0C4*/
  --whole-milk: oklch(98.51% 0 0); /* #FAFAFA*/
  --almond-milk: oklch(98.15% 0.038 99.02); /* #FFFADD*/
  --brewed-coffee: oklch(88.53% 0 0); /*#D9D9D9*/
  --origin-bean: oklch(26.73% 0.052 53.56); /* #391E0B*/
}

/* Dark mode colors */
:root[data-theme="dark"] {
  --background-primary: #050608;
  --background-secondary: #0e0f12;
  --background-tertiary: oklch(7% 0 0 / 0.25);
  --background-quaternary: oklch(7% 0 0 / 0.55); /* #373a41; */
  --background-quinary: #61656c;
  --background-highlighted: #ffd3ea;

  --foreground-primary: #ffffff;
  --foreground-primary-hover: #ececed;
  --foreground-secondary: #cecfd2;
  --foreground-secondary-2: #22262f;
  --foreground-tertiary: #94979c;
  --foreground-disabled: #85888e;
  --foreground-selected: #4e0b2f;

  --border-primary: #61656c;
  --border-secondary: #373a41;
  --border-tertiary: #22262f;
  --border-disabled: #373a41;
  --border-active: #ffffff;

  --button-disabled: #6a6a6a;

  --muted: oklch(7% 0 0 / 0.75); /* oklch(0.2 0 0); */
  --muted-foreground: oklch(0.7 0 0);

  --success: #42be65;
  --warning: #f1c21b;
  --error: #fa4d56;
  --error-overlay: #652222;

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);

  --input: oklch(0.25 0 0);
  --ring: oklch(0.4 0 0);
  --link: #8fc4ff;
}
