@theme inline {
  /* Fonts */
  --font-sans: var(--font-interstate);
  --font-interstate: var(--font-interstate);
  --font-geometria: var(--font-geometria);

  /* Colors */
  --color-*: initial;

  /* Overlook Tablet Colors */
  --color-primary-bg-grey: var(--primary-bg-grey);
  --color-primary-im-dark-blue: var(--primary-im-dark-blue);
  --color-primary-im-mid-blue: var(--primary-im-mid-blue);
  --color-primary-im-light-blue: var(--primary-im-light-blue);
  --color-secondary-im-teal: var(--secondary-im-teal);
  --color-secondary-im-purple: var(--secondary-im-purple);
  --color-secondary-im-orange: var(--secondary-im-orange);
  --color-secondary-im-green: var(--secondary-im-green);

  --color-brand-primary: var(--brand-primary);
  --color-brand-hover: var(--brand-hover);
  --color-brand-down: var(--brand-down);
  --color-brand-glow: var(--brand-glow);

  --color-white: var(--white);
  --color-black: var(--black);
  --color-transparent: var(--transparent);

  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-background-secondary-2: var(--background-secondary-2);
  --color-background-tertiary: var(--background-tertiary);
  --color-background-quaternary: var(--background-quaternary);
  --color-background-highlighted: var(--background-highlighted);

  --color-espresso: var(--espresso);
  --color-steamed-milk: var(--steamed-milk);
  --color-almond-milk: var(--almond-milk);
  --color-milk-foam: var(--milk-foam);
  --color-origin-bean: var(--origin-bean);
  --color-brewed-coffee: var(--brewed-coffee);
  --color-whole-milk: var(--whole-milk);
  --color-almond-milk: var(--almond-milk);

  --color-foreground-primary: var(--foreground-primary);
  --color-foreground-primary-hover: var(--foreground-primary-hover);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-secondary-2: var(--foreground-secondary-2);
  --color-foreground-tertiary: var(--foreground-tertiary);
  --color-foreground-quaternary: var(--foreground-quaternary);
  --color-foreground-disabled: var(--foreground-disabled);
  --color-foreground-selected: var(--foreground-selected);
  --color-foreground-disabled: var(--color-foreground-disabled);

  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);
  --color-border-tertiary: var(--border-tertiary);
  --color-border-disabled: var(--border-disabled);
  --color-border-active: var(--border-active);

  --color-button-disabled: var(--button-disabled);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-error-overlay: var(--error-overlay);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-link: var(--link);

  /* Border Radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Box Shadows */
  --shadow-dialog: var(--shadow-dialog);

  /* Widths */
  --width-sidebar-left-open: var(--sidebar-left-open-width);
  --width-sidebar-left-closed: var(--sidebar-left-closed-width);
  --width-sidebar-right-open: var(--sidebar-right-open-width);
  --width-sidebar-right-closed: var(--sidebar-right-closed-width);

  /* Animations */
  --animate-fade-in: fade-in 300ms ease-in-out forwards;
  --animate-fade-out: fade-out 300ms ease-in-out forwards;
  --animate-flash-purple-gradient: flash-purple-gradient 3s ease-in-out infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash-purple-gradient {
  0% {
    background: linear-gradient(296deg, #a2115e 28.75%, #8a0d71 82.59%);
    opacity: 0;
  }
  40%,
  60% {
    background: linear-gradient(296deg, #a2115e 28.75%, #8a0d71 82.59%);
    opacity: 1;
  }
  100% {
    background: linear-gradient(296deg, #a2115e 28.75%, #8a0d71 82.59%);
    opacity: 0;
  }
}
