@layer utilities {
  .font-headline-lg {
    @apply text-[80px] leading-normal;
  }

  .font-headline-md {
    @apply text-5xl leading-normal;
  }

  .font-headline-sm {
    @apply text-[28px] leading-normal;
  }

  .font-title-lg {
    @apply text-[3.25rem] leading-normal;
  }

  .font-title-sm {
    @apply text-2xl leading-snug;
  }

  .font-title-xs {
    @apply text-[1.25rem] leading-tight;
  }

  .font-body-lg {
    @apply text-[40px] leading-loose;
  }

  .font-body-md {
    @apply text-2xl leading-loose;
  }

  .font-body-sm {
    @apply text-[20px] leading-loose;
  }

  .font-body-xs {
    @apply text-base leading-loose;
  }

  .font-label-md {
    @apply text-base leading-relaxed;
  }

  .font-label-sm {
    @apply text-sm leading-snug;
  }

  .font-label-xs {
    @apply text-xs leading-snug;
  }
}

