.root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.parallaxContainer {
  width: 100%;
  height: 100%;
}
.slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.debugControls {
  position: absolute;
  right: 12px;
  bottom: 12px;
  z-index: 1000;
  display: flex;
  gap: 8px;
}
